html body {
    margin: 0;
}

footer {
    background-color: #d7d7d7;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

}

.footer-btn {
    background-color: transparent;
    padding: 0;
    border-width: 0;
    display: flex;
    justify-content: center;
}


.footer-btn:hover .footer-icon {
    stroke: white;
    fill: black;
}

.footer-btn:hover .footer-icon .footer-icon-part {
    fill:black;
    stroke: white;
}

.footer-icon-part {
    transition-duration: 1s;
}

.footer-btn .footer-icon{
    stroke: #0b0a0a;
    height: 35px;
    width: 35px;
    fill: none;
    background-color: transparent;
    transition-duration: 1s;
}

.footer-btn:hover {
    background-color: black;
    transition-duration: 1s;
}