#form-container {
    display: flex;
    justify-content: center;
}

#choices_list {
    list-style: none;
    padding: 0;
}

#title {
    width: 100%;
}

#text {
    width: 100%;
    resize: none;
}

.confirmed-option > i {
    float: right;
}

#pool-creation-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#pool-create-buttons {
    display: flex;
    justify-content: right;
    column-gap: 10px;
}

#add_option:hover {
    color: white;
    background-color: black;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.delete:hover {
    color: white;
    background-color: black;
    transition-duration: 0.3s;
    cursor: pointer;
}

