.proposal-content {
    margin: 20px;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.comment-box {
    margin: 0 auto 20px;
    margin-bottom: 20px;
    max-width: 70%;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-content p {
    margin: 0;
}

.comment-container {
    margin: 0 auto 20px;
}

.liked {
    color: red;
}

#proposal-like-icon:hover {
    cursor: pointer;
}
